<ul class="list-group">
  <li *ngFor="let booking of bookings">
    <mat-card class="example-card">
      <mat-card-content>
        <p>
          Date from: {{booking.dateFrom}}
          <br/>
          Date to: {{booking.dateTo}}
          <br/>
          People Count: {{booking.peopleCount}}
          <br/>
          Price: {{booking.price}}
        </p>
      </mat-card-content>
    </mat-card>
  </li>
</ul>
