<ul class="list-group">
  <li *ngFor="let room of rooms">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{room.title}}</mat-card-title>
        <mat-card-subtitle>Price: {{room.price}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="room.azureImages[0].url"/>
      <mat-card-content>
        <p>
          Max people: {{room.peopleCount}}
          <br/>
          {{room.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" (click)="deleteRoom(room.id)" class="btn btn-danger">Delete room</button>
        <button type="button" class="btn btn-info" (click)="changeRoomInfo(room.id)">Change room info</button>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>
