<ul class="list-group">
  <li *ngFor="let hotel of hotels">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{hotel.title}}</mat-card-title>
        <mat-card-subtitle>{{hotel.hotelType}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="hotel.azureImages[0].url"/>
      <mat-card-content>
        <p>
          {{hotel.description}}
          <br/>
          {{hotel.addressCode}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><a [routerLink]="['/hotel', hotel.id]">Open</a></button>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>
