<ul class="list-group">
  <li *ngFor="let hotel of hotels">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{hotel.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="hotel.azureImages[0].url"/>
      <mat-card-content>
        <p>
          {{hotel.description}}
          <br/>
          {{hotel.addressCode}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" (click)="deleteHotel(hotel.id)" class="btn btn-danger">Delete hotel</button>
        <button type="button" class="btn btn-info" (click)="changeHotelInfo(hotel.id)">Change hotel info</button>
        <button type="button" class="btn btn-primary" (click)="showRooms(hotel.id)">Show rooms</button>
        <button type="button" class="btn btn-primary" (click)="addRoom(hotel.id)">Add room</button>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>
