<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a [routerLink]="['']">Sdayu</a></span>
      <span class="example-spacer"></span>
      <button (click)="logout()" *ngIf="login" style="margin-left: 1300px">Logout</button>
      <a [routerLink]="['/login']" *ngIf="!login" style="margin-left: 1650px">Login</a>
      <a [routerLink]="['/profile']" *ngIf="login" style="margin-left: 20px">{{currentUser.userName}}</a>
      <span *ngIf="login" style="margin-left: 20px">Balance: {{ currentUser.balance}}</span>
      <button (click)="topUp()" *ngIf="login" style="margin-left: 20px">Top up</button>
      <button (click)="withDraw()" *ngIf="login" style="margin-left: 20px">With draw</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
