<ul class="list-group">
  <li *ngFor="let card of cards">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{card.cardNumber}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button type="button" (click)="deleteCard(card.id)" class="btn btn-danger">Delete card</button>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>
